{
"clientId": "c2df5725-b3c5-490e-ad64-ba97b07c1da6",
"clientSecret": "Z~L8Q~N5KpKo2LOp_Supef1dl-W1RzVkwEbiIdqY",
"subscriptionId": "",
"tenantId": "5d7e4366-1b9b-45cf-8e79-b14b27df46e1",
"activeDirectoryEndpointUrl": "https://login.microsoftonline.com",
"resourceManagerEndpointUrl": "https://management.azure.com/",
"activeDirectoryGraphResourceId": "https://graph.windows.net/",
"sqlManagementEndpointUrl": "https://management.core.windows.net:8443/",
"galleryEndpointUrl": "https://gallery.azure.com/",
"managementEndpointUrl": "https://management.core.windows.net/"
}
